*{
  margin: 0;
  padding: 0;
}

main {
  display:flex;
  justify-content: center;
  gap: 10px;
  /* box-sizing:content-box */
}

.form {

  background-color: lightskyblue;
  display: inline-block;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

.lista {
  background-color: lightpink;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 0 5px 0 0;
}

.totales {
  background-color: lightgoldenrodyellow;
  display: block;
  padding: 10px;
  border-radius: 0 0 5px 0;
}